.container {
  list-style: none;
  display: flex;
  color: #6096B4;
  background-color: #EEE9DA;
  padding: 0.5rem 1rem;
}

.link {
  color: #93BFCF;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #6096B4;
}

.separator {
  margin: 0 0.5rem;
  color: #BDCDD6;
} 