.select {
  border: 1px solid #BDCDD6;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: white;
  color: #6096B4;
}

.select:focus {
  outline: none;
  border-color: #93BFCF;
  box-shadow: 0 0 0 2px rgba(147, 191, 207, 0.2);
} 