.container {
  position: relative;
}

.input {
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  padding: 0.5rem;
  padding-right: 2rem;
  width: 16rem;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  background-color: #d1d5db;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
} 